<h1>Air</h1>
<h3>Signs</h3>
<ul>
    <li><a href='air/aquarius'>Aquarius</a></li>
    <li><a href='air/gemini'>Gemini</a></li>
    <li><a href='air/libra'>Libra</a></li>
</ul>
<h3>Personality</h3>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>