<h1>Earth</h1>
<h3>Signs</h3>
<ul>
    <li><a href='earth/taurus'>Taurus</a></li>
    <li><a href='earth/virgo'>Virgo</a></li>
    <li><a href='earth/capricorn'>Capricorn</a></li>
</ul>
<h3>Personality</h3>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>