<h1>Fire</h1>
<h3>Signs</h3>
<ul>
    <li><a href='fire/aries'>Aries</a></li>
    <li><a href='fire/leo'>Leo</a></li>
    <li><a href='fire/sagittarius'>Sagittarius</a></li>
</ul>
<h3>Personality</h3>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>