<h1>Water</h1>
<h3>Signs</h3>
<ul>
    <li><a href='water/pisces'>Pisces</a></li>
    <li><a href='water/cancer'>Cancer</a></li>
    <li><a href='water/scorpio'>Scorpio</a></li>
</ul>
<h3>Personality</h3>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>